<%- include('partials/header') %>
<div class = "gdocument" style="position: absolute; left: 50%;">
  <div style="position: relative; left: -50%;">
    <section>
    <h2>Welcome to the video game backlogger. Use this app to track your progress in games and see what other games your favorite developer has made!</h2>
    </section>
  </div>
</div>
<%- include('partials/footer') %>