body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
}

.list-group-item-games .list-group-item{
  background-color: #1f032c;
  border-color: white;
  color:#ac8828 ;
  font-size: large;
  text-align: center;
}

.list-group-item-games .list-group-item:hover{
  opacity: .8;
}