html { 
  background: url("../images/room.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 95%;
  background-color: black;
}
.container{
  position: relative;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}
.header{
  position: absolute; top:30%;
}
.gdocument{
  position: absolute; top:40%;
}

.list-group-item-games .list-group-item{
  background-color: rgb(46, 79, 118);
  border-color: white;
  color:rgb(83,186,199);
  font-size: large;
  text-align: center;
  opacity: .8;
}

.list-group-item-games .list-group-item:hover{
  opacity: 1;
}