@font-face{
  font-family: 'Astron Boy Rg';
  src: url('../fonts/AstronBoyRg-Regular.eot');
  src: url('../fonts/AstronBoyRg-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AstronBoyRg-Regular.woff2') format('woff2'),
      url('../fonts/AstronBoyRg-Regular.woff') format('woff'),
      url('../fonts/AstronBoyRg-Regular.ttf') format('truetype'),
      url('../fonts/AstronBoyRg-Regular.svg#AstronBoyRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

html { 
  background: url("../images/room.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-color: black;
}

section{
  background-color:rgb(83,186,199);
  opacity: .8;
  padding: 20px;
  border-radius: 10px;
  font-size: large;
}
textarea{
  resize: none;
}
.nav-class{
  opacity: .8;
  display: flex;
  justify-content: flex-end;
}

.nav-class .login{
  justify-self: flex-end;
}
body {
  background-color: transparent;
  font-family:'Astron Boy Rg';
}

.gdocument{
  position: absolute; top:20%;
}

.list-group-item-games .list-group-item{
  background-color: rgb(46, 79, 118);
  border-color: white;
  color:rgb(83,186,199);
  font-size: large;
  text-align: center;
  opacity: .8;
}


.list-group-item-games .list-group-item:hover{
  opacity: 1;
}

