<%- include('../partials/header') %>
<div class = "gdocument" style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
        <form id="new-form" action="/developers" method="POST">
            <div class="input-group">
            <input type="text" name="studio" placeholder="Studio">
            <input type="text" name="director" placeholder="Director">
            <div class="input-group-append">
            <input type="submit" value="Add Developer">
            </div>
            </div>
        </form>
    </div>
  </div>
<%- include('../partials/footer') %>