<%- include('../partials/header') %>
<form id="new-form" action="/developers" method="POST">
    <label>Studio:</label>
    <input type="text" name="studio">
    <label>Game Director:</label>
    <input type="text" name="director">
    <input type="submit" value="Add Developer">
  </form>
  
<%- include('../partials/footer') %>