<%- include('../partials/header') %>
<div class="list-group list-group-item-games">
    <% games.forEach(function(game) { %>
    <a href="/games/<%= game._id %>" class="list-group-item list-group-item-action"><%= game.title %></a>
    <% }); %>
</div>
<%- include('../partials/footer') %>