<%- include('../partials/header') %>
<form id="new-form" action="/games" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Release Year:</label>
    <input type="text" name="released">
    <input type="submit" value="Add Game">
  </form>
<<<<<<< HEAD
=======
  
>>>>>>> b28ef768805e676c78ef933b460c9a71baa288cd
<%- include('../partials/footer') %>