<%- include('../partials/header') %>
<div class = "gdocument" style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
<form id="new-form" action="/games" method="POST">
    <div class="input-group">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="released" placeholder="Release Year">
        <div class="input-group-append">
        <input type="submit" value="Add Game">
        </div>
    </div>
  </form>
  </div>
  </div>
<%- include('../partials/footer') %>